@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.cdnfonts.com/css/miama');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Use Noto Sans Bengali or SolaimanLipi / Kalpurush / etc. */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;500;700&display=swap');

body, .ql-editor {
  font-family: 'Noto Sans Bengali', 'Noto Sans', sans-serif !important;
}

/* Make sure Quill editor uses it */
.ql-editor {
  font-family: 'Noto Sans Bengali', sans-serif !important;
  direction: ltr; /* or rtl if needed */
  unicode-bidi: plaintext;
}

.ql-editor,
.ql-editor * {
  font-family: 'Noto Sans Bengali', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  overflow-x: clip;
}

.link-hover:hover {
  background: linear-gradient(45deg, #433878, #b0367b); 
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  text-decoration: none;
}

/* For all Button */
.btn-link {
  text-align: center;
  transition: all 0.3s ease; 
  text-decoration: none;
}

.btn-link:hover {
  background: linear-gradient(to right, #f97316, #ef4444);
  color: white; 
  border: none; 
  text-decoration: none;
}
